.vscode/c_cpp_properties.json
.vscode/settings.json
Main/SoundboardWindow.*
old_build/
unused/
Resources/logo/
Resources/soundbites/
Resources/toggleListen.ps1
Resources/my-notes
build/*
!build/Debug/
build/Debug/soundboard.pdb
build/Debug/Tray.lib
build/Debug/Tray.pdb
build/Debug/Utils.lib
build/Debug/Utils.pdb
build/Debug/WasapiMixer.lib
build/Debug/WasapiMixer.pdb
!build/Debug/soundboard.exe
recent_Build/